@use '../../app.scss' as *;

#footer {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 3rem 1rem;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 !important;
    background: none !important;
    color: white !important;
    text-transform: none !important;
    position: relative !important;
    width: max-content;
    &:hover {
      background: none !important;
    }

    &::after {
      content: '' !important;
      position: absolute !important;
      bottom: -4px !important;
      left: 0 !important;
      width: 0% !important;
      height: 2px !important;
      background: white !important;
      transition: width 0.25s ease !important;
    }

    &:hover::after {
      width: 100% !important;
    }
  }
}
